<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../src/assets/favicon.ico" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../src/css/navbar.css" />
    <link rel="stylesheet" href="../src/css/inicio.css" />
    <link rel="stylesheet" href="../src/css/pdv.css" />
    <title>Venda - PDV Simples</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <div class="logo">
            <h1>PDV Desafio</h1>
          </div>
          <div class="menu-items">
            <li><a href="/home">Home</a></li>
            <li><a href="/pdv">Iniciar venda</a></li>
            <li><a href="/vendas">Vendas</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="/usuarios">Usuários</a></li>
            <li><a href="/logout">Logout</a></li>
          </div>
        </div>
      </div>
    </nav>
    <div class="form-venda mt-5 container">
      <h1>Nova venda</h1>
      <div class="barra-cima">
        <label for="searchTerm">Pesquisar produtos</label>
        <div class="input-group">
          <input type="text" id="searchTerm" class="form-control" placeholder="Digite o termo de pesquisa" aria-label="Pesquisar" aria-describedby="button-addon2">
          <ul class="z-2 dropdown-menu d-flex flex-column mt-5 d-none w-100" id="searchDropdown">
          </ul>
        </div>
        <br>
        <small class="dica">Aperte <code>*</code> para inserir a quantidade</small>
        <div class="listagem-venda mt-5">
          <div class="scrollable-table">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Preço</th>
                  <th scope="col">QTD</th>
                  <th scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="vendaTable">
              </tbody>
            </table>
          </div>
          <div class="total-venda">
            <h4>Total: R$ <span id="total">0,00</span></h4>
            <button class="btn btn-primary" onclick="openPagamentos()">Pagamentos</button>
          </div>
        </div>
      </div>
      <!-- popup mensagem -->
      <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="msgModalLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="msgRetorno" class="form-control"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
      <!-- popup qtd -->
      <div class="modal fade" id="qtdModal" tabindex="-1" aria-labelledby="qtdModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="qtdModalLabel">Insira a quantidade desejada</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="number" id="qtdSelecionada" class="form-control" placeholder="Quantidade" min="1" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="salvarQtd()">Salvar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- popup produto -->
      <div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="produtoModalLabel">Detalhes do Produto #<small id="modalCodigoProd"></small></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2 id="modalDescricaoProd"></h2>
              <p id="modalPrecoProd"></p>
              <p id="modalQtdProd"></p>
              <input type="number" id="quantidade" class="form-control" placeholder="Quantidade" min="1" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="lançar()">Lançar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- popup pagamentos -->
      <div class="modal fade z-1" id="pagamentosModal" tabindex="-1" aria-labelledby="pagamentosModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="produtoModalLabel">Pagamentos da venda</small></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="valores">
                <div class="val-tot">
                  <small>Total:</small>
                  <h2 id="modalTotal"></h2>
                </div>
                <div class="val-faltapagar">
                  <small>Falta Pagar:</small>
                  <h2 id="faltaPagar"></h2>
                </div>
                <div class="val-troco">
                  <small>Troco:</small>
                  <h2 id="troco"></h2>
                </div>
              </div>
              <small>Formas de Pagamento</small><br>
              <label for="dinheiro">Dinheiro:</label>
              <input type="number" id="dinheiro" class="form-control pagamento" placeholder="0.00" min="0.00" required>
              <label for="cartao-debito">Cartão Débito:</label>
              <input type="number" id="cartaodebito" class="form-control pagamento" placeholder="0.00" min="0.00" required>
              <label for="cartao-credito">Cartão Crédito:</label>
              <input type="number" id="cartaocredito" class="form-control pagamento" placeholder="0.00" min="0.00" required>
              <label for="pix">PIX:</label>
              <input type="number" id="pix" class="form-control pagamento" placeholder="0.00" min="0.00" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="finalizar()">Finalizar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="listagem-produtos"></div>
    </div>
    <div class="barra-fim fixed-bottom">
      <span class="meu-nome">Enzo Rossi Daltoé - 2024</span>
    </div>
    <script src="../src/js/pdv.js"></script>
  </body>
</html>
