#cadastro-user {
  padding-top: 5rem;
}

#cadastro-produto {
  padding-top: 5rem;
}

.checkbox {
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: center;
  display: flex;
}

.small-text {
  font-size: 0.7rem;
  padding-top: 1rem;
}
