.inicio {
  width: 100%;
  padding-top: 10rem;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.barra-fim {
  padding-bottom: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu-items {
  background-size: 100%;
  background-color: white;
}

code {
  font-size: 1rem;
  padding: .3rem .5rem .3rem .5rem;
  border: 1px solid #c7c7c7;
  border-radius: .3rem;
}

.atalhos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#msgModal {
  transition: 0.2s ease-in-out;
}
