.l-produto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    align-items: center;
}

.l-produto:last-child {
    border-bottom: none;
}

.l-produto p {
    margin: 0; /* Remove margem padrão dos parágrafos */
}

.l-produto:hover {
    background-color: #f5f5f5;
}

.l-produto-g1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.l-produto-g2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.scrollable-table {
    justify-content: center;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    margin-bottom: 2rem;
}

.valores {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dica {
    margin-top: 2rem;
    margin-trim: auto;
}

#msgModal {
    box-shadow: #6b6b6b44 0px 0px 10px 0px;
}